@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
	
}
/*---------------------------------------------------------------------------------------*/

body {
	line-height: 1;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	background: #d5d5d5;
	min-height:100%;
	overflow: hidden;
	padding:10px 0;
}
.header {
	width:100%;
	font-size:20px;
	text-align:center;
	padding:10px;
	
}

.menu__item {
	display:inline-block;
	border:1px solid rgba(0, 0, 0, 0.096);
	margin: 0px 0px 0px 90px;
	padding: 2px 10px 2px 10px;
	
}
.menu__link {
	color:black;

}
.menu__link:hover{
	color:rgb(72, 93, 231);
}
.abaut__content {
	max-width:1169px;
	margin:0 auto;
	
}
.title {
display:inline-block;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 28px;
letter-spacing: 2.5px;
color: #5D62B5;
margin:110px 0px 33px 0px;
}

.title::before{
	content:"";
	background:url("../img/ico/Overline.png") no-repeat;
	display:inline-block;
	vertical-align: top;
	width:28px;
	height:27px;
}


.title__text {
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #000000;
margin: 0px 0px 72px 0px;
}
.block__item {
width:235px;
display: inline-block;
vertical-align: top;

}
.block__row {
display: inline-block;
width: 365px;
vertical-align: top;

}
.block__title {
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 19px;
line-height: 26px;
color: #F2726F;
padding: 0px 0px 20px 0px;
}
.block__imag{
	display: inline-block;
	vertical-align: top;
	margin: 0px 10px 0px 0px;
}
.text {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.15px;
color: #4B4B4B;

}
.choose-how-often {
	margin: 80px 0px 0px 0px;

}
.how__background{
	width:56px;
	height:2px;
	background: #34C759;
	display: inline-block;
	margin:0px 0px 0px 30px;
	
}
.how__block {
	max-width:255px;
	min-height:206px;
	margin:0 auto;
	background-color: #000;
	
}
.how__item {
font-family: Helvetica Neue;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
letter-spacing: -0.275px;
text-transform: capitalize;
color: #FFFFFF;
padding:54px 24px 10px 24px;
}
.how__text {
width:207px;	
font-family: Helvetica Neue;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 18px;
letter-spacing: -0.1625px;
color: rgba(255, 255, 255, 0.5);
padding:12px 0px 60px 24px;
}





/* ----------------------------------------------------------------------------------*/

.Our-Services {
	
	padding:50px 110px 112px 110px;
	background: #F5F5F5;
}
.block__content {
	max-width:1200px;
	margin:0 auto;

}

.Services__title {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 24px;
align-items: center;
letter-spacing: 2.5px;
text-transform: uppercase;
color: #5D62B5;
margin: 0px 0px 20px 20px;
}


.Services__title::before{
	content:"";
	background:url("../img/ico/Overline.png") no-repeat;
	display:inline-block;
	vertical-align: top;
	width:28px;
	height:27px;
}

.Services__perspiciatis{
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #000000;
margin: 0px 0px 78px 20px;
	
}

.block__columb {
	max-width:324px;
	max-height:340px;
	display: inline-block;
    margin: 0px 0px 24px 24px;
	border:1px solid rgba(0, 0, 0, 0.078);
	background-color: #FFFFFF;
	padding: 50px 40px 50px 40px;
}


.block__columb:hover{
box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
}


.block__item-columb{
	width:237px;
	height:240px;

		
}


.block__image {
	display:block;
	text-align: center;
}


.block__text {
}


.line__item {
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 19px;
line-height: 26px;
text-align: center;
color: #F2726F;
}

.text-columb {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.15px;
color: #4B4B4B;

}


/*------------------------------------------------------------------------------------------------------*/

.our-impast {
	background:#02133C url("../img/ico/overlay_image.png")0 0 no-repeat;

}

.our-impast-block {
	
	max-width:1440px;
	max-height: 608px;
	margin:0 auto;
	

}
.margin__minus{
background: url("../img/ico/Image_9.png") 100% 0 no-repeat;
position: relative;
top:-80px;

}

.item-our-block {
    width:411px;
	height:129px;
	display: inline-block;
	margin: 112px 0px 79px 210px;
    
}

.our-title {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 24px;
align-items: center;
letter-spacing: 2.5px;
text-transform: uppercase;
color: #D5D5D5;
padding:80px 0px 30px 0px;

}


.our-title::before{
	content:"";
	background:url("../img/ico/Overline Mark (2).png") no-repeat;
	display:inline-block;
	vertical-align: top;
	width:28px;
	height:27px;


}



.nemo {
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #FFFFFF;

}



.item__voluptas {
}
.voluptas__columb { 
	width:236px;
	max-height:76px;
	display: inline-block;
	margin: 80px 0px 212px 0px;


}
.item__block {
	display:inline-block;
	width:76px;
	height:76px;
	padding: 0px 0px 0px 80px;
	margin: 0px 0px 0px 210px;
	vertical-align: top;
	
}
.block__1{
	background:url("../img/ico/car_oil-24x.svg") no-repeat;
}
.block__2{

	background:url("../img/ico/car_transmission_24x.svg") no-repeat;
}

.block__3{

	background:url("../img/ico/car_alignment_24x.svg") no-repeat;
}

.block__4{

	background:url("../img/ico/car_engine_2_24x.svg") no-repeat;
}



.voluptas__block {
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #C40B0B;

}
.voluptas__text {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.15px;
color: #F5F5F5;
}


.eiusmod {
	margin: -75px 0px 75px 0px;
}
.eiusmod__block {
max-width:1020px;
min-height:150px;
margin:0 auto;
background: #FFFFFF;
}
.eiusmod__text {
max-width: 562px;
height:59px;
font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 30px;
color: #02133C;
display:inline-block;
margin: 43px 0px 43px 70px;

}

.button__block{	
margin: 0px 0px 0px 76px;
display: inline-block;

}


.button{
background: #C40B0B url("../img/ico/Button.png")right no-repeat;
padding:17px 50px 17px 20px ;	
font-family: Roboto;
font-weight: bold;
font-size: 12px;
line-height: 24px;
align-items: center;
letter-spacing: 0.15px;
text-transform: uppercase;
color: #FFFFFF;
border-radius: 2px;

}